%footer.footer.navbar-fixed-bottom
  %nav
    %ul
      %li
        %a{:href => "https://www.faebook.com/pages/DJ-Kamikaze/230957930288365", :target => "blank"}= image_tag "Facebook.png"
      %li
        %a{:href => "http://www.youtube.com/user/djmckamikazeshaun", :target => "blank"}= image_tag "Youtube.png"
      %li
        %a{:href => "https://twitter.com/DJKamikaze_", :target => "blank"}= image_tag "Twitter.png"
      %li
        %a{:href => "https://soundcloud.com/dj-kamikaze-1", :target => "blank"}= image_tag "Soundcloud.png"
      %li
        %a{:href => "http://www.mixcrate.com/djmckamikaze/dj_mixes", :target => "blank"}= image_tag "Mixcrate.png"
